:root {
  --main-grey-color: #757575;
  --blue-color: #2196f3;
  --black-color: #212121;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-grey-color);
  background-color: var(--white-color);
}
[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* maket size 1170 + paddings = 1200 container  */
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87; /* 30/16 */
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: 10px 32px;
  text-align: center;
  transition: background-color 0.8s ease 0s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: #50aaf4;
}
/* socials  */

.instagram {
}
.twitter {
}
.facebook {
}
.linkedin {
}
.instagram-dark {
}
.twitter-dark {
}
.facebook-dark {
}
.linkedin-dark {
}
/* header  */
.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
}
.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /* 31/26 */
  letter-spacing: 0.03em;
  color: #000000;
}
.main-logo span {
  color: var(--blue-color);
}
.navigation {
  margin-left: 93px;
}
.navigation-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item-link {
  display: block;
  padding: 32px 0;
  transition: color 0.8s ease 0s;
}
.nav-item-link:hover,
.nav-item-link:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--blue-color);
}
.active-page {
  color: var(--blue-color);
}
.contact-block {
  display: flex;
  margin-left: auto;
}
.contact-block-item:not(:last-child) {
  margin-right: 30px;
}
.mail {
  transition: color 0.8s ease 0s;
}
.phone {
  transition: color 0.8s ease 0s;
}

/* main  */

/* hero section  */
.hero {
  margin-bottom: 94px;
}
.hero__container {
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* 60/44 */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-button {
}

/* features section  */

.features {
  margin: 94px 0;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  max-width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-item-title {
  line-height: 1.14; /* 16/14 */
  text-transform: uppercase;
}
.features-item-text {
  line-height: 1.71; /* 24/14 */
  letter-spacing: 0.03em;
}

/* do section  */
.do {
  margin-bottom: 94px;
}
.do-title {
  font-size: 36px;
  line-height: 1.16; /* 42/36 */
  text-align: center;
  margin-bottom: 50px;
}
.do-list {
  display: flex;
  flex-wrap: wrap;
}
.do-item {
  max-width: 370px;
}
.do-item:not(:last-child) {
  margin-right: 30px;
}
.do-item-image {
}
.do-item-title {
  line-height: 1.14; /* 16/14 */
  text-transform: uppercase;
  text-align: center;
}

/* team section  */
.team {
  padding: 94px 0;
  background-color: #f5f4fa;
  margin-bottom: 94px;
}
.team-title {
  font-size: 36px;
  line-height: 1.16; /* 42/36 */
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.team-item-image {
  margin-bottom: 33px;
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18; /* 19/16 */
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 13px;
}
.team-item-position {
  font-size: 16px;
  line-height: 1.18; /* 19/16 */
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  margin-bottom: 30px;
}
.team-social-item {
  background-color: var(--blue-color);
}

/* clients section  */
.clients {
  margin-bottom: 94px;
}
.clients-title {
  font-size: 36px;
  line-height: 1.16; /* 42/36 */
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients-item {
}

.clients-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.clients-item-image {
}

/* footer  */
.footer {
  padding: 60px 0px;
  background-color: #2f303a;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  color: var(--white-color);
}
.footer-adress {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  font-style: normal;
}
.adress-city {
  transition: color 0.8s ease 0s;
}
.adress-city:hover,
.adress-city:focus {
  color: var(--blue-color);
}
.footer-lable {
  font-weight: 700;
  line-height: 1.14; /* 16/14 */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-social-list {
}
.footer-social-item {
}
.footer-social-instagram {
}
.footer-social-twitter {
}
.footer-social-facebook {
}
.footer-social-linkedin {
}
.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}
/* portfolio page  */
.work {
  margin: 94px 0;
}

.work-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.work-button-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* 26/16 */
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--black-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-item {
  margin: 0 auto;
  max-width: 370px;
}
.work-item-image {
}
.work-item-title {
  font-size: 18px;
  line-height: 2; /* 36/18 */
  letter-spacing: 0.06em;
  color: #212121;
}
.work-item-type {
  font-size: 16px;
  line-height: 1.87; /* 30/16 */
  letter-spacing: 0.03em;
}
.work-item-text {
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
  letter-spacing: 0.03em;
  color: #ffffff;
}
