:root {
  --main-grey-color: #757575;
  --blue-color: #2196f3;
  --black-color: #212121;
  --white-color: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-grey-color);
  background-color: var(--white-color);
}
[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* maket size 1170 + paddings = 1200 container  */
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87; /* 30/16 */
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: 10px 32px;
  text-align: center;
  transition: background-color 250ms var(--cubic) 0s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: #50aaf4;
}
/* socials  */
.social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms var(--cubic) 0s;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--blue-color);
}
.social-link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic) 0s;
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--white-color);
}
.social-link-icon-white {
  fill: var(--white-color);
}
.social-link-dark {
  background-color: rgba(255, 255, 255, 0.1);
}
/* header  */
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /* 31/26 */
  letter-spacing: 0.03em;
  color: #000000;
}
.main-logo span {
  color: var(--blue-color);
}
.navigation {
  margin-left: 93px;
}
.navigation-list {
  display: flex;
}
.nav-item {
  position: relative;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item-link {
  display: block;
  padding: 32px 0;
  transition: color 250ms var(--cubic) 0s;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--blue-color);
}
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--blue-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav-item-link.active {
  color: var(--blue-color);
}
.nav-item-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
  transform: scale(0, 0);
  transition: transform 250ms var(--cubic) 0s;
}
.nav-item-link:hover::after {
  transform: scale(1, 1);
}
.active-page.nav-item-link::after {
  transform: scale(1, 1);
}
.contact-block {
  display: flex;
  margin-left: auto;
}
.contact-block-item:not(:last-child) {
  margin-right: 30px;
}
.mail {
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic) 0s, filter 250ms var(--cubic) 0s;
}
.mail-icon {
  width: 16px;
  height: 12px;
  fill: var(--main-grey-color);
  margin-right: 10px;
  transition: fill 250ms var(--cubic) 0s;
}
.mail:hover .mail-icon,
.mail:focus .mail-icon {
  fill: var(--blue-color);
}
.phone {
  display: flex;

  transition: color 250ms var(--cubic) 0s, filter 250ms var(--cubic) 0s;
}
.phone-icon {
  width: 14px;
  height: 22px;
  fill: var(--main-grey-color);
  margin-right: 6px;
  transition: fill 250ms var(--cubic) 0s;
}
.phone:hover .phone-icon,
.phone:focus .phone-icon {
  fill: var(--blue-color);
}

/* main  */

/* hero section  */
.hero {
  margin-bottom: 94px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  max-width: 1600px;
}
.hero__container {
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* 60/44 */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
.hero-button {
}
/* modal window  */
.backdrop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal-title {
  font-size: 20px;
  line-height: 1.15; /* 23/20 */
  text-align: center;
  color: var(--black-color);
  margin-bottom: 12px;
}
.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-button-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms var(--cubic);
}
.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: var(--blue-color);
}
.modal-inputs {
}
.input-modal {
  width: 100%;
  height: 40px;
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form {
  margin-bottom: 10px;
}
.title-modal {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16; /* 14/12 */
  letter-spacing: 0.01em;
  margin-bottom: 5px;
}
.modal-text {
  font-family: "Roboto", sans-serif;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.16; /* 14/12 */
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment {
  margin-bottom: 20px;
}
.form-checkbox {
  display: flex;
  align-items: center;
}
.form-checkbox-input {
  margin-right: 8px;
}
.form-checkbox-text {
  line-height: 1.71; /* 24/14 */
  letter-spacing: 0.03em;
}
.form-checkbox-text a {
  color: var(--blue-color);
  text-decoration: underline;
  transform: color 250s var(--cubic);
}
.form-checkbox-text a:hover {
  color: #50aaf4;
}
.form-checkbox {
  margin-bottom: 30px;
}
.modal-button-sent {
  display: block;
  margin: 0 auto;
}

/* features section  */

.features {
  margin: 94px 0;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  max-width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-image-bg {
  display: block;
  background-color: #f5f4fa;
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.features-item-image {
  align-self: center;
  fill: #212121;
  width: 70px;
  height: 70px;
}
.features-item-title {
  line-height: 1.14; /* 16/14 */
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-item-text {
  line-height: 1.71; /* 24/14 */
  letter-spacing: 0.03em;
}

/* do section  */
.do {
  margin-bottom: 94px;
}
.do-title {
  font-size: 36px;
  line-height: 1.16; /* 42/36 */
  text-align: center;
  margin-bottom: 50px;
}
.do-list {
  display: flex;
  flex-wrap: wrap;
}
.do-item {
  max-width: 370px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.do-item::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.do-item:not(:last-child) {
  margin-right: 30px;
}
.do-item-image {
  width: 100%;
}
.do-item-title {
  position: absolute;
  line-height: 1.14; /* 16/14 */
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 27px;
  text-align: center;
}

/* team section  */
.team {
  padding: 94px 0;
  background-color: #f5f4fa;
  margin-bottom: 94px;
}
.team-title {
  font-size: 36px;
  line-height: 1.16; /* 42/36 */
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.team-item-image {
  margin-bottom: 33px;
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18; /* 19/16 */
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 13px;
}
.team-item-position {
  font-size: 16px;
  line-height: 1.18; /* 19/16 */
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}

/* clients section  */
.clients {
  margin-bottom: 94px;
}
.clients-title {
  font-size: 36px;
  line-height: 1.16; /* 42/36 */
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients-item {
}

.clients-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border 250ms var(--cubic) 0s;
}
.clients-item-image {
  width: 106px;
  height: 60px;
  background-size: cover;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic) 0s;
}

.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--blue-color);
}
.clients-item-link:hover .clients-item-image,
.clients-item-link:focus .clients-item-image {
  fill: var(--blue-color);
}
/* footer  */
.footer {
  padding: 60px 0px;
  background-color: #2f303a;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  color: var(--white-color);
}
.footer-adress {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  font-style: normal;
}
.adress-city {
  transition: color 250ms var(--cubic) 0s;
}
.adress-city:hover,
.adress-city:focus {
  color: var(--blue-color);
}
.footer-lable {
  font-weight: 700;
  line-height: 1.14; /* 16/14 */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  width: 358px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25; /* 20/16 */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}
.footer-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.footer-button-icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}
.footer-button-icon-send {
  margin-left: 10px;
  transition: transform 250ms var(--cubic) 0s;
}
.footer-button:hover .footer-button-icon-send {
  transform: translateY(-40px);
}
.footer-button-icon-envelope {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(calc(-50% + 40px));
  transition: transform 250ms var(--cubic) 0s;
}
.footer-button:hover .footer-button-icon-envelope {
  transform: translateY(-50%);
}

/* portfolio page  */
.work {
  margin: 94px 0;
}

.work-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.work-button-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* 26/16 */
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--black-color);
  transition: background-color 250ms var(--cubic) 0s,
    color 250ms var(--cubic) 0s;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-item {
  margin: 0 auto;
  max-width: 370px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--cubic) 0s;
}
.work-item:hover,
.work-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item-image-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: box-shadow 250ms var(--cubic) 0s;
}
.work-item-link:hover .item-image-body,
.work-item-link:focus .item-image-body {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic) 0s;
}
.work-item-link:hover .work-item-overlay,
.work-item-link:focus .work-item-overlay {
  transform: translateY(0%);
}
.work-item-image {
}
.work-item-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}
.work-item-contant {
  margin: 20px 24px;
}
.work-item-title {
  font-size: 18px;
  line-height: 2; /* 36/18 */
  letter-spacing: 0.06em;
  color: #212121;
}
.work-item-type {
  font-size: 16px;
  line-height: 1.87; /* 30/16 */
  letter-spacing: 0.03em;
}
