.header {
}
.header__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.menu-button {
  @media screen and (min-width: 767.98px) {
    display: none;
  }
}
.mobile-menu-icon {
}
.icon-cross {
  display: none;
  .menu-button.is-open & {
    display: block;
  }
}
.icon-menu {
  .menu-button.is-open & {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $whiteColor;
  width: 100%;

  flex-direction: column;
  justify-content: space-between;

  padding: 0px 40px 50px 40px;
  &.is-open {
    display: flex;
  }
  @media screen and (min-width: 767.98px) {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    padding: 0;
    margin-left: 50px;
  }
}
.navigation {
}
.navigation-list {
  @media screen and (min-width: 767.98px) {
    display: flex;
  }
}
.nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 767.98px) {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}
.nav-item-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17; /* 47/40 */
  letter-spacing: 0.02em;
  transition: color 250ms $cubic 0s;
  &:hover,
  &:focus {
    color: $blueColor;
  }
  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.14; /* 16/14 */
    color: $blackColor;
    display: block;
    padding: 32px 0;

    &:hover::after {
      content: "";
      background: $blueColor;
      border-radius: 2px;
    }
  }
}
.active {
  &.nav-item-link {
    color: $blueColor;
  }
}
.contact-block {
  @media screen and (min-width: 767.98px) {
  }
}
.contact-block-item {
}
.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16; /* 28/24 */
  letter-spacing: 0.02em;
  transform: color 250s $cubic 0s;

  &:hover,
  &:focus {
    color: $blueColor;
  }
  @media screen and (min-width: 767.98px) {
    font-size: 12px;
    display: flex;
  }
}
.mail-icon {
  width: 16px;
  height: 12px;
  fill: $mainGrayColor;
  display: none;
  @media screen and (min-width: 767.98px) {
    display: block;
    margin-right: 8px;
  }
}
.phone {
  display: inline-block;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.25; /* 40/32 */
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  transform: color 250s $cubic 0s;

  &:hover,
  &:focus {
    color: $blueColor;
  }
  @media screen and (min-width: 767.98px) {
    font-size: 12px;
    display: flex;
    margin-bottom: 10px;
  }
}
.phone-icon {
  width: 10px;
  height: 16px;
  fill: $mainGrayColor;
  display: none;
  @media screen and (min-width: 767.98px) {
    display: block;
    margin-right: 8px;
  }
}
